@import url("https://fonts.googleapis.com/css2?family=Tienne:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #070a05;
		--background: #fffaeb;
		--primary: #355427;
		--secondary: #dcecd5;
		--accent: #538a38;
	}
	.dark {
		--text: #f7faf5;
		--background: #140f00;
		--primary: #b9d8ab;
		--secondary: #1a2a13;
		--accent: #91c775;
	}
}

@layer utilities {
	.tooltip-div {
		@apply relative before:ml-[0.1rem] before:absolute before:content-[attr(data-tooltip)] before:px-4 before:py-2 before:left-1/2 before:-top-2 before:w-max before:max-w-xs before:-translate-x-1/2 before:-translate-y-full before:bg-gray-700 before:text-white before:rounded-md before:opacity-0 before:transition-all after:absolute after:ml-[0.1rem] after:left-1/2 after:-top-2 after:h-0 after:w-0 after:-translate-x-1/2 after:border-8 after:border-t-gray-700 after:border-l-transparent after:border-b-transparent after:border-r-transparent after:opacity-0 after:transition-all hover:before:opacity-100 hover:after:opacity-100 text-sm;
	}
}
[x-cloak] {
	display: none;
}

#back-to-top-btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 26px;
	width: 50px;
	height: 50px;
	background-color: var(--accent);
	cursor: pointer;
	outline: none;
	border-radius: 50%;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
	z-index: 999;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
	background-color: var(--primary);
	color: #fff;
}

.btnEntrance {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntrance;
}

@keyframes btnEntrance {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.btnExit {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btnExit;
}

@keyframes btnExit {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}
